[project]
	description = emacs mode for editing ssh config files.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Matthew Weaver (mweaverh)
[access "refs/for/refs/*"]
	read = group user/Matthew Weaver (mweaverh)
	push = group user/Matthew Weaver (mweaverh)
	label-Code-Review = -2..+2 group user/Matthew Weaver (mweaverh)
	label-Verified = -1..+1 group user/Matthew Weaver (mweaverh)
	rebase = group user/Matthew Weaver (mweaverh)
	removeReviewer = group user/Matthew Weaver (mweaverh)
	submit = group user/Matthew Weaver (mweaverh)
[access "refs/heads/*"]
	read = group user/Matthew Weaver (mweaverh)
	create = group user/Matthew Weaver (mweaverh)
	push = +force group user/Matthew Weaver (mweaverh)
	pushMerge = group user/Matthew Weaver (mweaverh)
[access "refs/tags/*"]
	push = group user/Matthew Weaver (mweaverh)
	push = +force group user/Matthew Weaver (mweaverh)
